:root{
  --font-family-main: "Meiji Sans", "Helvetica Neue", Helvetica, sans-serif;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: var(--font-family-main);
}

header {
  color: #eee;
  padding: 40px;
}

header h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 20px;
  margin: 0;
}

header h2 {
  text-transform: uppercase;
  color: #ccc;
  font-size: 12px;
  letter-spacing: 8px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  header h1 {
    font-size: 40px;
    letter-spacing: 8px;
  }

  header h2 {
    font-size: 10px;
    letter-spacing: 4px;
  }

  .list-inline li {
     display: list-item;
  }
}

header ul {
  margin: 30px 0;
}

header ul li {
  padding-bottom: 20px;
}

header ul a {
  color: #ddd;
  font-weight: 700;
}
header ul a span {
  color: #888;
  font-weight: 300;
  padding-right: 2px;
}
header ul a:hover {
  color: #009999;
  text-decoration: none;
}
header ul a:hover span {
  color: #006363;
}

a, a span {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}